body {
    padding: 15px;
}


.search_result {
    width: 500px;
    margin: 20px;
}

.form-control{
    margin-bottom: 10px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

#search{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 99.5%;
}

#introduction{
    display: none;
}