<div class="container">
    {% for book in data %}
        <div class="card recommendationItem">
            <div class="card-body">
                <h5 class="card-title">{{ book['title'] }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge badge-secondary"> {{ book['author'] }}</span>
                    <span class="badge badge-primary"> Rate:{{ book['rate'] }}</span>
                    <span class="badge badge-info"> {{ book['rate_num'] }} ratings</span>
                </h6>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_number>1 %}
                <li data-jump="{{ page_number-1 }}" class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a>
                </li>
            {% endif %}
            {% if page_number <(res_num )/page_size %}
                <li data-jump="{{ page_number+1  }}" class="page-item"><a class="page-link" href="javascript:void(0)">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>