{% extends 'layout.html.jinja2' %}

{% block body %}
    <form action="/results" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="text">text</label>
                <input type="text" class="form-control basicAutoComplete" id="text" aria-describedby="textSearch"
                       autocomplete="off"
                       placeholder="Enter the text you want to search" name="text" value="{{ show["tmp_text"] |e }}"/>
            </div>
            <button type="submit" class="btn btn-primary" id="search">search</button>
        </div>
        {% block search_result %}
        {% endblock %}
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        (function () {
            $('.text').autoComplete({
                resolverSettings: {
                    url: '/hint'
                }
            });
        }())
    </script>
{% endblock %}