{% extends 'layout.html.jinja2' %}

{% block body %}
    <form action="/results" method="get">
        <div class="form-group">
            <div class="form-group">
                <input type="text" class="form-control basicAutoComplete" id="text" aria-describedby="textSearch"
                       autocomplete="off"
                       placeholder="Search the book, pass the exam" name="query" value="{{ (show["query"] or '') |e }}"/>
                <input type="hidden" name="page_number" id="page_number">
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="search">search</button>
        </div>
        {% block search_result %}
        {% endblock %}
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        ;(function () {
            $('#text').autoComplete({
                resolverSettings: {
                    url: '/hint',
                    minLength: 2,
                }
            });
        }())
    </script>
{% endblock %}